*,
*::after,
*::before {
  box-sizing: border-box;
}

.spinner {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  overflow: hidden;
  position: relative;
}

.spinnerSpan {
  animation: text-an 2s ease infinite;
}

.spinnerSectorOne {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-top-color: red;
  animation: rotate 2s ease-in-out infinite;
  opacity: 0.5;
}

.spinnerSectorTwo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-left-color: blue;
  animation: rotate 1.5s ease-in-out infinite;
  opacity: 0.5;
}

.spinnerSectorThree {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-right-color: green;
  animation: rotate 2.5s ease-in-out infinite;
  opacity: 0.5;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-an {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
}
